html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    background-color: rgba(127, 255, 212, 0.514);
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

}

.header-logo{
    flex: 1;
    font-size: 28px;
    font-weight: 600;
    
}

.header div{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.selected{
    font-weight: bold;
    border-bottom: 3px solid black;
}

.main{
    width: 100%;
    background-color:rgb(127, 255, 212);
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.main-content{
    width: 40%;
}

button {
    margin: 5px;
    height: 48px;
    width: 150px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    color: #659DBD;
    border: 2px solid #659DBD;
    text-transform: uppercase;
    outline: 0;
    background: none;
    cursor: pointer;
    border-radius: 4px;

}


.main-but{
    width: 70px;
}

.skills {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.skillsContent {
    font-family: 'Raleway';
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 600px;
    margin: auto;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
    max-width: 900px;
}

.progress {
    width: 300px;
    height: 6px;
    background-color: gray;
    border-radius: 3px;
}

.progressBar {
    width: 70%;
    background-color: gold;
    height: 6px;
    border-radius: 3px;
}

.liveActivity{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    max-width: 700px;
    margin: auto;
    justify-content: space-evenly;
}

.minActivity{
    
    width: 200px;
    border-top: 8px solid rgb(128, 15, 15);
    border-radius: 8px;
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.42);
-webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.42);
padding: 10px;
padding-bottom: 15px;
font-family: 'Times New Roman', Times, serif;
color: gray;
}

.miniActivityStats{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}


.foooter{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 600px;
    margin: auto;
    

}

.projectFlex{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    text-align: center;
   
}


.project{
    width: 500px;
    margin: 15px;
    
}

.projectTitle {
    flex:1;
    font-weight: bold;
}

.date {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 12px;
    color: rgb(128, 128, 128);
}

.projectText {
    display: inline-block;
    text-align: justify;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgb(82, 82, 82);
    font-size: 14px;
}

.techStack {
    display: flex;
}

.stack {
    padding: 3px;
    min-width: 90px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgb(51, 51, 51);
    margin: 5px;
    font-size: 12px;

}

.myimg {
    border-radius: 10px;
    width: 100%;
    padding-bottom: 10px;
}

